<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRAttendance"
        tools:targetApi="31">

        <!-- Splash screen activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Authentication Activities -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />

        <!-- Student Activities -->
        <activity
            android:name=".ui.student.StudentDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- New Course Enrollment Activity -->
        <activity
            android:name=".ui.student.CourseEnrollmentActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Instructor Activities -->
        <activity
            android:name=".ui.instructor.InstructorDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Admin Activities -->
        <activity
            android:name=".ui.admin.AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Student QR Scanner Activity -->
        <activity
            android:name=".ui.student.QRScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Instructor QR Generator Activity -->
        <activity
            android:name=".ui.instructor.GenerateQRActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Course Management Activity -->
        <activity
            android:name=".ui.instructor.ManageCoursesActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Instructor Attendance Activities -->
        <activity
            android:name=".ui.instructor.ViewAttendanceActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />
        <activity
            android:name=".ui.instructor.SessionAttendanceActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Student Attendance Activity -->
        <activity
            android:name=".ui.student.MyAttendanceActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <activity
            android:name=".ui.student.MyCoursesActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <activity
            android:name=".ui.common.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

        <!-- Admin User Management Activities -->
        <activity
            android:name=".ui.admin.ManageUsersActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />
        <activity
            android:name=".ui.admin.AddEditUserActivity"
            android:exported="false"
            android:theme="@style/Theme.QRAttendance.NoActionBar" />

    </application>
</manifest>